*{
    padding: 0px auto;
    margin: 0px auto;
}
/*Triangle + Circle*/

#main{
    height: 350px;
    width: 700px;
    background: red;
}

#first, #main, #second, #third{
    margin-top: 22px;
}

#first, #main, #second, #third, #c1, #c2, #c3, #c4{
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
}

#first{
     height: 300px;
     width: 630px;
     background: blue;
 }

#second{
    height: 250px;
    width: 560px;
    background: green;
}

#third{
    height: 200px;
    width: 490px;
    background: purple;
}

/*Circle*/

#c1, #c2, #c3, #c4{
    margin-top: 47px;
}

#c1{
    height: 600px;
    width: 600px;
    background: red;
    border-radius: 585px;
}
#c2{
    height: 500px;
    width: 500px;
    background: blue;
    border-radius: 485px;
}
#c3{
    height: 400px;
    width: 400px;
    background: green;
    border-radius: 385px;
}
#c4{
    height: 300px;
    width: 300px;
    background: purple;
    border-radius: 285px;
}

/*Small rectangle*/

#container{
    width: 600px;
    height: 600px;
}

.cols{
    height: 600px;
    width: 200px;
    float: left;
    font-size: 100px;
    text-align: center;
}

.row1{
    height: 400px;
    width: 200px;
}

.row2{
    height: 200px;
    width: 200px;
}


#cel1{
    background: blue;
}

#cel2{
    height: 500px;
    width: 200px;
    background: orange;
}
#cel3{
    background: orchid;
}

#cel4{
    background: forestgreen;
}

#cel5{
    height: 100px;
    width: 200px;
    background: dimgrey;
}

#cel6{
    background: brown;
}

#cel1, #cel2, #cel3, #cel4, #cel5, #cel6{
    transition: 5s;
    opacity: 0.1;
}

/*Hovering*/

#cel1:hover{
    background: blue;
}

#cel2:hover{
    height: 500px;
    width: 200px;
    background: orange;
    transition: 0.3s;
}
#cel3:hover{
    background: orchid;
}

#cel4:hover{
    background: forestgreen;
}

#cel5:hover{
    height: 100px;
    width: 200px;
    background: dimgrey;
}

#cel6:hover{
    background: brown;
}

#cel1:hover, #cel2:hover, #cel3:hover, #cel4:hover, #cel5:hover, #cel6:hover{
    opacity: 1;
    transition: 7s;
}