*{
    margin: 0px auto;
    padding: 0px auto;
}

body{
    background: url("../images/moon-stars-and-clouds.jpg") no-repeat;
    background-size: 100% auto;
}

#rocket img{
     position: absolute;
     width: 10%;
     height: 30%;
     top: 45%;
     margin-left: 5%;
}

