*{
    padding: 0px auto;
    margin: 0px auto;
}

body{
    background: white;
}

.main_menu{
    margin-top: 25px;
    width: 720px;
    height: 80px;
}
.main_menu, .body{
    text-align: center;
}
#home, #about, #contact, #apply{
    float: left;
    width: 180px;
    color: #333;
    font-size: 20px;
    height: 35px;
    transition: 1.5s;
    transform: rotate(340deg);
}

#home:hover, #about:hover, #contact:hover, #apply:hover{
    transform: rotate(360deg);
    transition: 1.5s;
    color: #ffcc33;
    font-size: 25px;
}
#home:hover{
    background:#EF5F21;
}
#about:hover{
    background:#589D3E;
}
#contact:hover{
    background:#00ACED;
}
#apply:hover{
    background:#D61F85;
}

marquee{
    color: #555;
}
.body{
    color: #555;
    margin-top: 3%;
    transition: 3s;
    font-size: 18px;
    width: 700px;
}

.body:hover{
    transform: rotate(360deg);
    transition: 3s;
    font-size: 25px;
}

footer{
    margin-top: 37%;
    text-align: center;
    color: #555;
}
