*{
    margin: 0px auto;
    padding: 0px auto;
}

body, html{
    height: 100%;
}

body{
    font-family: sans-serif;
    background: lightcyan;
}

#main_container{
    width: 70%;
    min-width: 70%;
    height: 100%;
    min-height: 100%;
    background: yellow;
}

#header{
    min-width: 100%;
    background: ghostwhite;
    height: 110px;
    min-height: 10%;
}
#left_header, #header{
    float: left;
}
#right_header, #left_header{
    /*vertical-align: middle;*/
}
#right_header{
    float: right;
    background: gray;
    height: 100%;
    min-width: 30%;
    min-height: 100%;
	text-align: center;
}

#dealer_portal a{
    text-decoration: none;
    font-size: 80%;
}

#search, #dealer_portal{
    height: 50%;
    min-width: 100%;
}

#search img{
    width: 30px;
    height: 25px;
}

#search input{
    width: 60%;
    height: 25px;
}

#dealer_portal input{
    width: 73px;
    height: 28px;
    color: white;
    background: url("../images/login_btn.png") no-repeat;
}

